<a class="mainpage" href="/Home/Index">Main page</a>
<br />
<h1>Add new club</h1>
<div class="form">
    <form action="/Home/AddClub" method="post">
        Name: <br />
        <input type="text" name="ClubName" /> <br />
        Colour: <br />
        <input type="text" name="ClubColour" /> <br />
        City: <br />
        <input type="text" name="ClubCity" /> <br />
        Founded: <br />
        <input type="number" name="ClubFounded" /> <br />
        <input type="submit" value="Add" /> <br />
    </form>
</div>