@using Models
@model IQueryable<Player>

<a class="mainpage" href="/Home/Index">Main page</a>
<div class="collection">
    <h1>Captains</h1>
    @foreach (var player in Model)
    {
        <a href="/Home/Player?playerid=@player.PlayerID">@player.PlayerName</a> <br />
    }
</div>