@using Models
@model IQueryable<Club>

<a class="mainpage" href="/Home/Index">Main page</a>
<div class="collection">
    <h1>Clubs</h1>
    <table>
        <tr>
            <th></th>
            <th></th>
        </tr>
        @foreach (var club in Model)
        {
            <tr>
                <td><a href="/Home/Club?clubid=@club.ClubID">@club.ClubName</a></td>
                <td><a class="button" href="/Home/DeleteClub?clubid=@club.ClubID">Delete</a></td>
            </tr>
        }
    </table>
</div>