@using Models
@model IQueryable<Club>

<a href="/Home/Index">[Main page]</a>
<h1>Clubs</h1>
@foreach (var club in Model)
{
    <a href="/Home/Club?clubid=@club.ClubID">@club.ClubName</a>
    <a href="/Home/DeleteClub?clubid=@club.ClubID">[Delete]</a> <br />
}