@using Models
@model ClubStatistics

<a class="mainpage" href="/Home/Index">Main page</a>
<h1>Statistics</h1>
<div class="statistics">
    <table class="default">
        <tr>
            <th>Club value</th>
            <th>Average age</th>
            <th>Average player value</th>
        </tr>
        <tr>
            <td>€@Model.ClubValue m</td>
            <td>@Model.AverageAge</td>
            <td>€@Model.AveragePlayerValue m</td>
        </tr>
    </table>
    <table class="default">
        <tr>
            <th>Nationalities</th>
        </tr>
        @foreach (var nationality in Model.Nationality)
         {
             <tr>
                 <td>@nationality</td>
             </tr>
         }
        
    </table>
    <table class="default">
        <tr>
            <th>Positions</th>
        </tr>
        @foreach (var position in Model.Position)
            {
              <tr>
                  <td>@position</td>
              </tr>
         }
    </table>
</div>