<div class="header">
    <h1>NB1 <img src="/Images/Logo.png"/></h1>
</div>
<div class="topnav">
    <a href="/Home/Init">Generate data</a>
    <a href="/Home/AddClub">Add new club</a>
    <a href="/Home/NB1Statistics">Statistics</a>
</div>
<div class="row">
    <div class="column">
        <a href="/Home/Clubs">Clubs</a> <br />
        <img src="/Images/club.jpg"/>
    </div>

    <div class="column">
        <a href="/Home/Players">Players</a> <br />
        <img src="/Images/player.jpg"/>
    </div>

    <div class="column">
        <a href="/Home/Managers">Managers</a> <br />
        <img src="/Images/manager.jpg"/>
    </div>
</div>