<h1>NB1</h1>
<a href="/Home/Init">[Generate data]</a>
<p><a href="/Home/NB1Statistics">Statistics</a></p>
<a href="/Home/AddClub">Add new club</a> <br /><br />
<a href="/Home/Clubs">Clubs</a> <br /><br />
<a href="/Home/Players">Players</a> <br /><br />
<a href="/Home/Managers">Managers</a>