@using Models
@model IQueryable<Manager>

<a href="/Home/Index">[Main page]</a>
<h1>Managers</h1>
@foreach (var manager in Model)
{
   <a href="/Home/Manager?managerid=@manager.ManagerID">@manager.ManagerName</a> <br />
}